{% extends "base.html.twig" %}

{% block page_title %}Nouvelle musique{% endblock %}

{% block page_content %}
    <main>
        <form action="{{ route("submit_musique") }}" id="form-access" class="center" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Nouvelle musique</legend>
                <div class="access-container">
                    <label for="title">Titre</label>
                    <input id="title" type="text" value="{{ titre }}" name="titre" required/>
                </div>
                <div class="access-container">
                    <label for="musique">Ficher :</label>
                    <input required type="file" id="musique" name="musique" accept="audio/mp3, .mp3">
                </div>
                <div class="access-container">
                    <label for="album">Selectionnez un album :</label>
                    <select required name="album" id="album">
                        <option value="default" selected="selected">Aucun album</option>
                        {% for album in albums %}
                            <option value="{{ album.idAlbum }}">{{ album.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input id="access-submit" type="submit" value="Poster!">
            </fieldset>
        </form>
    </main>
{% endblock %}