{% extends "base.html.twig" %}

{% block page_title %}{{ musique.titre }}{% endblock %}

{% block page_content %}
    <main>
        <span>Voici la page de {{ musique.titre }}</span>
        <div>

        </div>
    </main>
{% endblock %}